@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

* {
    box-sizing: border-box;
}

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.plant {
    flex-basis: 20%;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9cc;
}

.plant__icon {
    width: 100px;
}

.quantity-table-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.quantity-table {
    text-align: left;
    margin: 1rem 0;
}

.quantity-table-header {
    border-bottom: 2px solid #000;
}

.quantity-table-header-row__content,
.quantity-table-row__content {
    padding: 0.5rem;
}

.quantity-table-row:nth-child(2n) {
    background-color: #ddd;
}